<div>
  <p id= "gameover" class="gameover">
    <%= @winner.capitalize %> Wins!!!
  </p>
  <p>
    <button type="button" id= "load-button" class="large red button" onclick="location.href='/'">Return to Main Menu</button>
  </p>
</div>
