
<form action="/gameplay" method="post">
  <p>
    <button type="submit" id= "play-button" class="large red button" >Play Game</button>
  </p>
  <p>
    <button type="button" id= "load-button" class="large red button" onclick="location.href='/loadgame'">Load Game</button>
  </p>
  <p>
    <label for="select-number-of-players" id="players-label" name="players-label" class="selector-label">
      Select Number of Players
    </label>
    <select id="select-number-of-players" name="players" class="selector">
      <option value="one" >One</option>
      <option value="two" >Two</option>
      <!--<option value="none" >None</option> -->
    </select>
    <label for="select-difficulty-type" id="difficulty-label" name="difficulty-label" class="selector-label ">
      Select AI Type
    </label>
    <select id="select-difficulty-type" name="difficulty" class="selector">
      <option value="Easy" >Easy</option>
      <option value="Board Scoring" >Board Scoring</option>
      <option value="Checker Counting" >Checker Counting</option>
    </select>
  </p>
</form>
