<p>
  <button type="submit" id= "play-button" class="large red button">Play Game</button>
</p>
<p>
  <button type="submit" id= "load-button" class="large red button">Load Game</button>
</p>
<p>
  <label for="select-number-of-players" id="players-label" name="players-label" class="selector-label">
    Select Number of Players
  </label>
  <select id="select-number-of-players" name="players" class="selector">
    <option value="One" >One</option>
    <option value="Two" >Two</option>
    <option value="None" >None</option>
  </select>
  <label for="select-difficulty-type" id="difficulty-label" name="difficulty-label" class="selector-label ">
    Select AI Type
  </label>
  <select id="select-difficulty-type" name="difficulty" class="selector">
    <option value="Easy" >Easy</option>
    <option value="Board Scoring" >Board Scoring</option>
    <option value="Checker Counting" >Checker Counting</option>
  </select>
</p>
