<script type="text/javascript">
   // we will add our javascript code here
  $(function() {
    $("ul :nth-child(odd)").click(function() {
      alert("Hello world!");
    });
  });
</script>
<h1>Movies</h1>
<ul>
  <li id="jfk">JFK</li>
  <li id="jfk-director"><%= @dog %></li>
  <li id="saving-private-ryan">Saving Private Ryan</li>
  <li id="saving-private-ryan-director">By Rob Ryan</li>
  <li id="singles" onmouseover = "$('#jfk').stop().animate({background:"#ffffff"}, 1000);">Singles</li>
  <li id="singles-director">By Cameron Crowe</li>
</ul>
